<div class="grid-x align-center-middle text-center grid-padding-x grid-padding-y">
    <h2>Completed Tasks </h2>
    {{#each tasks}}
    <div id="{{_id}}" class="cell small-12">
        <div class="card {{ priorityLvl }}" style="width: 100%;">
            <div class="card-divider">
                <h5 class="text-center"> {{ title }} </h5>
            </div>
            <div class="card-section">
                <p> {{ dateCreated }} </p>
            </div>
            <div class="card-section">
                <p> {{ description }} </p>
            </div>

        </div>
    </div>
    {{/each}}
</div>