<div class="grid-x container-full align-center-middle text-center">
    <div class="cell small-12">
        <div class="card currentTskCard">
            <div class="card-section">
                <p class="text-center h2">Current Task:</p>
            </div>
            <div class="card-divider text-center ctTskCdTitle">
                <p class="activeTitleDisp h3" style="text-align: center; width: 100%;">{{activeTitle}}</p>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="cell small-12">
            <hr>
            <div class="grid-x grid-margin-x grid-padding-x align-center-middle text-center">
                <div class="cell small-12">
                    <p class="h2">Pending Tasks</p>
                </div>
                <div class="cell tasksBtnsCell">
                    {{#if (equals @exphbs.view "home")}}
                    <a href="/tasks" class="button large">Task Search</a>
                    {{else}}
                    <a href="/" class="button large">Timer Dashboard</a>
                    {{/if}}
                    <a href="/tasks/create" class="button large">Create Tasks</a>
                </div>
                {{!-- pending task cards template/rendering below --}}
                {{#if tasks}}
                {{#each tasks}}
                <div id="{{_id}}" class="cell small-12">
                    <div class="card {{ priorityLvl }}">
                        <div class="card-divider">
                            <h5 class="text-center"> {{ title }} </h5>
                        </div>
                        <div class="card-section">
                            <p> {{ dateCreated }} </p>
                        </div>
                        <div class="card-section">
                            <p> {{ description }} </p>
                        </div>
                        <div class="card-section">
                            <div>
                                <button class="button large markActiveBtn" type="button" {{#if active}} disabled {{/if}}
                                    data-task-id="{{_id}}">Set As Active</button>
                                <button class="button large markComplBtn success" type="button" data-task-id="{{_id}}">Mark Complete</button>
                                <a href="/tasks/{{_id}}" class="button large editBtn alert">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <h4>No Pending Tasks</h4>
                {{/if}}
                {{!-- end of pending tsk template --}}
            </div>
        </div>
    </div>
</div>